.git
.github
.env
.env.backup
.env.production
.idea
.vscode
.zed
node_modules
vendor
public/build
public/hot
storage/api-docs
storage/logs
storage/*.key
database/*.sqlite
.phpunit.cache
.phpunit.result.cache
*.log
Thumbs.db
.DS_Store
